aiohttp==3.8.1
Faker==13.3.3
fastapi-rss==0.1.4
fastapi==0.73.0
Jinja2==3.1.1
parsel==1.6.0
requests-html==0.10.0
fastapi-cache2==0.1.8
markdown==3.3.6
pyfreeproxy
pyyaml
psutil
playwright
uvicorn
gunicorn
daphne

