<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
      <title>Rssinn 小黑屋</title>
      <link rel="shortcut icon" href="{{ url_for('static', path='/media/favicon.ico') }}" type="image/x-icon"/>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
      <script src="{{ url_for('static', path='/js/nav-bar.js') }}"></script>
   </head>
<body>
    <div class="container">
        <div>
            <nav class="navbar" role="navigation" aria-label="main navigation">
              <div class="navbar-brand">
                <a class="navbar-item" href="/">
                  <img src="{{ url_for('static', path='/media/logo-1649663131875.png') }}" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
              </div>

              <div id="navbarBasic" class="navbar-menu">
                <div class="navbar-start">
                  <a class="navbar-item" href="/">
                    Home
                  </a>
                  <a class="navbar-item" href="/upptime">
                    Status
                  </a>
                  <a class="navbar-item" href="/docs" target="_blank">
                    Docs
                  </a>
                  <a class="navbar-item" href="/redoc" target="_blank">
                    Redoc
                  </a>

                  <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                      More
                    </a>

                    <div class="navbar-dropdown">
                      <a class="navbar-item">
                        About
                      </a>
                      <a class="navbar-item">
                        Contact
                      </a>
                      <hr class="navbar-divider">
                      <a class="navbar-item" href="https://github.com/chinobing/RSSinn/issues" target="_blank">
                        Report an issue
                      </a>
                    </div>
                  </div>
                </div>

                <div class="navbar-end">
                  <div class="navbar-item">
                    <div class="buttons">
                      <a class="button is-primary" href="https://github.com/chinobing/RSSinn" target="_blank">
                        <strong>Github</strong>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
        </div>
        <section class="section has-text-centered">
            <div class="hero-body">
              <h1 class="title">RSSinn</h1>
              <h2 class="subtitle">小黑屋</h2>
            </div>

        </section>

         <section class="section">
            <nav class="level">
              <div class="level-item has-text-centered">
                <div>
                  <p class="subtitle is-6 is-spaced">#RSS</p>
                  <p class="title">{{ data['total_routes_numbers'] }}</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="subtitle is-6 is-spaced">#UP</p>
                  <p class="title">{{ data['routes_status_up']}}</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="subtitle is-6 is-spaced">#DOWN</p>
                  <p class="title">{{ data['routes_status_down']}}</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="subtitle is-6 is-spaced">#STARS</p>
                  <p class="title">N/A</p>
                </div>
              </div>
            </nav>
         </section>

        <section class="section">
        </section>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
            ©2022 RSSinn.COM | Designed and built with all the ❤ and 😁 by <a href="https://github.com/chinobing">Chinobing</a>.
        </p>
      </div>
       <script defer data-domain="rssinn.com" src="https://hosting.f10.org/js/plausible.js"></script>
    </footer>
</body>
</html>