<!doctype html>
<html>
   <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
      <title>Rssinn Upptime Status</title>
      <link rel="shortcut icon" href="{{ url_for('static', path='/media/favicon.ico') }}" type="image/x-icon"/>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
      <link rel="stylesheet" href="{{ url_for('static', path='/css/custom.css') }}">
   </head>
   <body>
      <div>
         {{ html|safe }}
      </div>
      <script defer data-domain="rssinn.com" src="https://hosting.f10.org/js/plausible.js"></script>
   </body>
</html>